# entrypoint = "launch.sh"
modules = ["python-3.12"]
# modules = ["python-3.11"]
run = "uvicorn main_api:app --host 0.0.0.0 --port 5000"

[nix]
channel = "stable-24_05"
packages = ["borgbackup", "c-ares", "cacert", "cargo", "gdb", "gitFull", "glibcLocales", "gmp", "libffi", "libiconv", "libxcrypt", "openssl", "pkg-config", "rustc", "zeromq"]

[deployment]
run = ["sh", "-c", "pip install -r requirements_prod.txt && uvicorn main_api:app --host 0.0.0.0 --port 5000"]
# run = ["bash", "launch.sh"]
deploymentTarget = "cloudrun"

[env]
PYTHONPATH = "."

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "FastAPI Server"

[[workflows.workflow]]
name = "FastAPI Server"
author = 43613511
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uvicorn main_api:app --host 0.0.0.0 --port 5000"
